body {
	max-width: 756px;
	margin: 0 auto;
	background-color: #efefef;
	font-family: 'Roboto', sans-serif;
	position: initial;

}

header.menu {
	max-width: 756px;
	margin: 0 auto;
	/*position: relative;*/
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 5;
	

}
header.menu a {
	text-decoration: none;
	color: black;
}
header.menu h1:hover {
	background-color: pink;
}
header.menu ul {


}
header.menu li {
	display: inline-block;
}
header.menu h1 {
	margin: 0;
}
header.menu li:last-child {
	position: absolute;
	right: 40px;
	bottom: 1em;
	
}
header.menu li img {
	height: 2em;
	width: 2em;
}
header.menu li img:hover {
	background-color: pink;
	border-radius: 6px;
}
/* click to buy on Etsy and view change buttons */

.toggle-button {
	display: block;
	margin-top: 84px;
}
#view-change {
	display: none;
	overflow: auto;
}
#block {
	float: right;
	height: 20px;
	width: 20px;
	margin-right: 15%;
	opacity: 0.35;

}
#grid {
	float: left;
	height: 20px;
	width: 20px;
	margin-left: 15%;
}

#change-view {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #686868;
	
}
#grid-img {
	z-index: -100;
}
/* Toggle grid to block view */

#view-change:checked ~ .photos {
	display: initial;
}
#view-change:checked ~ label #grid {
	opacity: 0.35;
	
}

#view-change:checked ~ label #block {
	opacity: 1;
	z-index: -100;

}


/* post structure is div p img */

.photos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	align-items: center;
}

img {
	width: 100%;
	height: 100%;
}
.photos p {
	margin: 0;
}


/* Media query for narrow screens */

@media (max-width: 350px) {

	.menu li:last-child {
		right: 20px;
	}
	.menu ul {
		padding-left: 20px;
	}


}


